<% include ../master/header %>
    <div class="container">
        <div class="row">
            <div style="width:30%; margin:0 auto; text-align:center;">
                <h1 style="margin:1.5rem;">Add a new dog</h1>
                <form action="/dogs" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="dog[name]" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="dog[breed]" placeholder="breed">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="dog[image]" placeholder="image">
                    </div>
                    <div class="form-group">
                        <textarea name="dog[description]" class="form-control" rows="3" placeholder="description"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a href="/dogs" class="btn btn-secondary btn-block">Back</a>
            </div>
        </div>
        <% include ../master/footer %>
    </div>